.backtop {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #aaa;
  color: #fafafa;
  text-align: "center";
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  z-index: 1;
}
.slider-wrapper * {
  pointer-events: none;
}
.slider {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden
}

.slider a.previousButton, .slider a.nextButton {
	font-size: 22px;
	line-height: 0;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	z-index: 1;
	color: #333;
	padding: 10px;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden
	/* prevent jump effect when scaling */
}

.slider a.previousButton:not(.disabled):hover, .slider a.nextButton:not(.disabled):hover {
	-webkit-transform: translateY(-50%) scale(1.25);
	        transform: translateY(-50%) scale(1.25);
	cursor: pointer;
}

.slider a.previousButton {
	left: 20px;
}

.slider a.nextButton {
	right: 20px;
}

.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden
}

.slide.hidden {
	visibility: hidden;
}

.slide.previous {
	left: -100%;
}

.slide.current {
	left: 0;
}

.slide.next {
	left: 100%;
}

.slide.animateIn,
	.slide.animateOut {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

.slide.animateIn.previous,
		.slide.animateIn.next {
	left: 0;
	visibility: visible;
}

.slide.animateOut.previous {
	left: 100%;
}

.slide.animateOut.next {
	left: -100%;
}

.slide {
  height: 100vh;
  background-size: cover !important;
}
.slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0,0,0,1)),
    to(rgba(0, 0, 0, 0.9))
  ); */
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
}
.previousButton,
.nextButton {
  display: none;
}
.slider-content {
  text-align: center;
}
.slider-content .inner {
  padding: auto;
  position: absolute;
  width: 100%;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content * {
  pointer-events: none;
}

.slider-content .inner h1 {
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Montserrat-Medium";
  margin: 0 auto;
  max-width: 80vw;
  color: #ffffff;
  line-height: 4.3rem;
}

.slider-content .inner p {
  color: #ffffff;
  font-size: 1.75rem;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 65vw;
}
.slider-content .inner a {
  color: #ffffff;
  background: var(--orangeColor);
  text-decoration: none;
  padding: 1rem 3rem;
  cursor: pointer;
}
.section-content {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.image-div {
  display: grid;
  place-items: center;
  width: 25rem;
}
.image-div a img {
  object-fit: contain;
  width: 100%;
}
.section-header {
  font-size: 3rem;
  /* text-transform: */
  font-weight: bolder;
  font-family: "Montserrat-Medium";
  opacity: 0.85;
}
.section-content p {
  font-size: 1.25rem;
}
.section-content a {
  font-size: 1.1rem;
  color: #000;
  opacity: 0.9;
  font-family: "Montserrat-Light";
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  margin: 0.5rem 0;
}
@media screen and (max-width:1024px) {
  .section-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .image-div img {
    width: 20rem;
  }
}
@media (max-height: 500px) {
  .slider-wrapper,
  .slide {
    height: 100vh;
  }
}

@media (max-width: 640px) {
  .image-div {
    width: 80%;
  }
  .slider-wrapper,
  .slide {
    height: 100vh;
  }
  .section-content {
    width: 100%;
  }
  .section-content h2 {
    font-size: 2rem;
  }
  .section-content p {
    font-size: 1.25rem;
  }
}

@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 2.8rem;
    max-width: 95vw;
  }

  .slider-content .inner p {
    font-size: 1.2rem;
    max-width: 85vw;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
    max-width: 95vw;
  }

  .slider-content .inner p {
    font-size: 1.2rem;
    max-width: 85vw;
  }
}
