.services-section {
    background: url("../assets/images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}
.services-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background: rgb(93, 178, 255);
    z-index: 1;
}
.services {
    position: relative;
    z-index: 2;
}
.services .big-heading {
    font-family: 'trump_gothic_east_bold';
    letter-spacing: 2px;
    font-size: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    text-shadow: -1.5px -1.5px var(--orangeColor);
}
.services .service-wrapper {
    padding: 1.5rem;
    color: #fff;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition-duration: 0.3s;
}
.services .service-wrapper:hover {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}
.services .service-wrapper img {
    width: 50px;
    pointer-events: none;
    height: 50px;
    margin-bottom: 0.5rem;
}
.services .service-wrapper h1 {
    color: #fff;
    font-weight: 400;
    padding: 0.5rem 0 0.25rem 0;
    letter-spacing: 1px;
    font-size: 2.75rem;
    text-shadow: -1px -1px var(--orangeColor);
    font-family: 'trump_gothic_east_bold';
}
.services .service-wrapper p {
    color: #fff;
    opacity: 1;
}